.gallery{
    margin-top: 60px;
    margin-bottom: 40px;
    width: 700px;
    position: relative;
    float:right;
}
.gllerytitle{
  
    
    width: 20%;
    height: auto;

}
p{
    font-weight: 300;
    padding-top: 20px;
    line-height: 24px;
    font-size: 14px;
    color: #4F4F4F;
    margin-left: 400px;
    margin-right: 60px;
    text-align: left;
}  