.gallery{
    margin-top: 60px;
    margin-bottom: 40px;
    width: 700px;
    position: relative;
    float:right;
}
.gllerytitle{
  
    
    width: 20%;
    height: auto;

}
p{
    font-weight: 100;
    line-height: 20px;
    font-size: 12px;
    color: #4F4F4F;
    margin-left: 400px;
    margin-right: 60px;
    text-align: left;
}  