.header {
    padding-bottom: 20px;
}
section {
    margin-left: auto;
    width: 62%;
}

.logo {
    float: none;
}

.gallery {
    padding: 20px 0;
    width: 100%;
}

.gallerytitle {
    padding: 20px 0;
    width: 388px;
}

p {
    font-family: Roboto-Light;
font-size: 14px;
color: #3D3D3D;
letter-spacing: 0.64px;
line-height: 25px;
width: 646px;
}

h2 {
    font-family: Montserrat-Bold;
font-size: 20px;
color: #090909;
letter-spacing: 1px;
line-height: 58px;
font-weight: bold;
margin: 0;;
}

.map {
    width: 645px;
    margin-bottom: 80px;
}